header {
    color:whitesmoke;
    background-color: black;
}

head {
    color:whitesmoke;
    background-color: black;
}

body {
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    color:whitesmoke;
    background-color: black;

}

.MessageViewer {
    padding: 0%;
    margin: 0%;
    position: relative;
    left: auto;
    transform: translateX(-100%);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 0.64%;
    height: 70%;


}

.SubTreeNavigator {
    color:whitesmoke;
    background:black;
    width: 20%;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end:2px;
}

.TextBoxInput {
    border-radius: 25px;
}