header {
    color:black;
}

header h1 {
    color:whitesmoke;
}

.MessageViewer {
    padding: 0%;
    margin: 0%;
    position: relative;
    left: auto;
    transform: translateX(-100%);
}

.SubTreeNavigator {
    background:black;
    width: 20%;
    height: 100%;
}